body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input[type="number"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="number"] {
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


/* Оформлення календаря */
input[type="date"] {
    display: inline-block;
    width: 100%;
    padding: 7px;
    /*margin: 5px 0;*/
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.refueling {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Додано простір між рядками */
}
table[class="labels"]{
    width: 100%;
    border: 0px solid #ddd;
}
tr[class="labels"], th[class="labels"] {
    width: 33.33%;
    background-color: rgba(255, 255, 255, 0); /* Прозорий білий фон */
    border: 0px rgba(255, 255, 255, 0);
    padding: 1px;
    padding-bottom: 8px;
    
}
.tooltip-container {
    position: relative;
    display: inline-flex;
  }
  
  .tooltip-content {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltip-trigger {
    cursor: pointer;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background-color: #007bff;
    color: white;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
  }
  





